//Remove margin and padding from all elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Setting the root-size to be 10px that makes it easier to work with rm unit
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

//Setting the line height and font-size to be 16px
body {
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: var(--font-text);
}

//setting image-size to be at 100% and to have display of block
img {
  max-width: 100%;
  display: block;
}

//inherit the text from parent element
input,
button,
textarea,
select {
  font: inherit;
}
